python310env/
spark-apps/
spark-events/
delta-tables/
spark-home/
!spark-home/code/**
worker-data/
worker-logs/
warehouse/
tmp/
.ivy2/
.ipynb_checkpoints/
__pycache__/
artifacts/
logs/
*.log
python310env/
home/
data/
.ivy2/
*.pyc
fhv*
green*
yellow*
part*
*.crc
*.pdb
.venv/
venv/
env/
*.egg-info/
dist/
build/
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.databricks
.ipynb_checkpoints/
.ipython/
.jupyter/
.local/
*.out*

# Environment files
.env
.env.*
*.env
.envrc
.openai
.env*
# Environment variables and secrets
*.key
*_key*
*api_key*
*secret*
.env.azureopenai
solutions/*
*.pckl*
*.old*
